@media screen and (max-width: 768px) {
  .glassmorphism {
    width: 100%;
    margin: 0;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(3, auto);
  }
  .proSetting {
    height: 400px;
    padding: 0;
    display: flex;
    grid-column-start: span 1;
    flex-direction: column;
  }
  .proSetting > label {
    padding: 10px 0;
  }
  .proSetting > input {
    margin: 0;
    padding: 10px 0;
  }
  .displayGlass h1 {
    font-size: 34px;
  }
  .displayGlass .card {
    width: 250px;
    height: 80px;
  }
  .cssOutput {
    height: 300px;
  }
  #cssOut {
    padding: 15px;
    font-size: 16px;
  }
}
